{{!< default}}

<article class="page">
    {{! Works with both old and new Ghost versions }}
    <header class="page-header">
        {{#if feature_image}}
            <figure class="page-feature-image">
                <img src="{{img_url feature_image size="xl"}}" alt="{{title}}">
            </figure>
        {{/if}}
        <h1 class="page-title">{{title}}</h1>
        {{#if custom_excerpt}}
            <p class="page-excerpt">{{custom_excerpt}}</p>
        {{/if}}
    </header>

    <section class="page-content">
        {{content}}
    </section>

    {{! Developer Profile Section }}
    {{#match slug "about"}}
        {{#if @custom.show_developer_profile}}
            <section class="developer-profile">
                {{! ... profile content ... }}
            </section>
        {{/if}}
    {{/match}}
</article>